@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700;800&display=swap');

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    box-shadow: 0 0 0px 1000px white inset;
    -webkit-box-shadow: 0 0 0px 1000px white inset;
    transition: background-color 5000s ease-in-out 0s;
}

::placeholder {
	font-size: 16px;
	line-height: 24px;
	color: #1f2937;
	opacity: 0.7;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Plus Jakarta Sans', sans-serif;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.navbar {
	position: fixed;
    width: 100%;
    top:0;
    left:0;
    z-index: 100;
	background-color: white;
	box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1);
}

.navbar-content {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 80px;
	margin: 0 auto;
	padding: 0 48px;
}

.navbar-content__title {
	font-size: 24px;
	font-weight: bold;
}

/* Note Input */
.note-input {
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: 50%;
	margin: 144px auto 64px auto;
	padding: 28px;
	border-radius: 10px;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.note-input__title {
	margin-bottom: 16px;
	font-size: 20px;
	font-weight: bold;
	line-height: 28px;
	color: #1f2937;
}

.note-input__label {
	display: flex;
	justify-content: space-between;
	margin-bottom: 4px;
	font-size: 16px;
	font-weight: 500;
	line-height: 24px;
	color: #1f2937;
	opacity: 0.9;
}

.note-input__char-limit {
	text-align: right;
}

.note-input input,
.note-input textarea {
	margin-bottom: 20px;
	font-size: 16px;
	line-height: 24px;
	border: 1px solid rgb(194 194 194 / 75%);
	border-radius: 12px;
	outline: none;
	background-color: #FFFFFF;
	transition-property: color, background-color, border-color, box-shadow;
	transition-duration: .2s;
	transition-timing-function: cubic-bezier(.4,0,1,1);
}

.note-input input {
	height: 40px;
	padding-left: 12px;
}

.note-input textarea {
	height: 180px;
	padding: 12px;
}

.note-input input:focus,
.note-input textarea:focus {
	border: 1px solid #20573d;
	box-shadow: 0 0 0 2.5px rgba(54, 122, 89, 0.5);
}

.note-input button {
	cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
	width: auto;
    height: 40px;
	padding: 12px 20px;
    border:none;
	border-radius: 10px;
	font-size: 16px;
    background-color: #43936c;
    color: white;
    transition:all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.note-input button:hover { opacity: 0.9; }
.note-input button:active { opacity: 0.8; }

/* Search Bar */
.search-bar {
	margin-top: 120px;
}

.search-bar__input-group {
	display: flex;
	justify-content: center;
	align-items: center;
}

.search-bar__input {
	width: 50%;
	height: 48px;
	padding: 0 12px;
	font-size: 16px;
	line-height: 24px;
	border: 1px solid rgb(194 194 194 / 75%);
	border-radius: 12px;
	outline: none;
	background-color: #FFFFFF;
	transition-property: color, background-color, border-color, box-shadow;
	transition-duration: .2s;
	transition-timing-function: cubic-bezier(.4,0,1,1);
}

.search-bar__input:focus {
	border: 1px solid #20573d;
	box-shadow: 0 0 0 2.5px rgba(54, 122, 89, 0.5);
}

/* Note Card */
.note-card-list {
	display: flex;
	flex-direction: column;
	gap: 64px;
	margin: 36px 0 64px 0;
	padding: 0 48px;
}

.note-card-list__title {
	width: fit-content;
	position: relative;
	margin-bottom: 24px;
	font-size: 20px;
	font-weight: bold;
	line-height: 28px;
	color: #1f2937;
}

.note-card-list__title:after {
	content: "";
	position: absolute;
	bottom: -10px;
	left: 0;
	height: 7px;
	width: 100%;
	border: solid 2px #43936c;
	border-color: #43936c transparent transparent transparent;
	border-radius: 50%;
}

.note-card-list__card {
	display: grid;
	grid-template-columns: repeat(3, minmax(0, 1fr));
	gap: 28px;
}

.note-card {
	display: flex;
	flex-direction: column;
	padding: 24px;
	border-radius: 10px;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.note-card__body { 
	display: flex;
	flex-direction: column;
	justify-content: start;
}

.note-card__title {
	font-size: 20px;
	font-weight: 700;
	color: #1f2937;
}

.note-card__created-at {
	font-size: 14px;
	margin-top: 12px;
	color: #7e848e;
}

.note-card__content {
	margin: 16px 0;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	color: #4b5563;
}

.note-card__separator {
	border: none;
	border-bottom: 1px solid #c5c5c5;
}

.note-card__action {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 24px;
}

.note-card__archive,
.note-card__delete {
	cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
	font-size: 16px;
    border:none;
	background: none;
    transition:all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.note-card__archive {
	font-size: 16px;
	font-weight: 600;
	color: #00608d;
}

.note-card__archive:hover { opacity: 0.9; }
.note-card__archive:active { opacity: 0.8; }

.note-card__delete {
	font-size: 16px;
	font-weight: 600;
	color: #fb7070;
}

.note-card__delete:hover { opacity: 0.9; }
.note-card__delete:active { opacity: 0.8; }

.note-card__btn-icon {
	width: 20px;
	height: 20px;
	margin-right: 4px;
}